#app{
  background: #efefef;
}
*{
  margin: 0;
  padding: 0;
}
.city-wap{
  color: #3b4f62;
  
  .clearfix{
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }
  p{
    background: #fff;
    margin-bottom: 10px;
    padding: 0 12px;
  }
  .search{
    position: fixed;
    top: 0;
    box-shadow: 0 1px 3px 0 rgba(59,79,98,0.1);
    width: 100%;
    height: 50px;
    input{
      line-height: 50px;
      width: 100%;
      border: none;
      box-shadow: none;
      padding: 0 10px;
      &:focus { 
        outline: none; 
      } 
    }
  }
  .city-list{
    .block-60{
      height: 60px;
    }
    ul{
      padding: 0 10px;
      li{
        list-style: none;
        display: inline-block;
        margin-right: 10px;
        width: 29%;
        margin-bottom: 8px;
        line-height: 35px;
        text-align: center;
        color: #333;
        border-radius: 3px;
        background: #fff;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 2px;
      }
    }
  }
  .filter{
    position: fixed;
    right: 3px;
    top: 60px;
    font-size: 15px;
    div{
      margin-top: 2px;
      text-align: center;
    }
  }
  .active-key{
    position: fixed;
    width: 100px;
    height: 100px;
    line-height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: #dedede;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 40px;
  }
}
.city{
  position:relative;
  .city-components{
    position: absolute;
    width: 500px;
    box-shadow: 0 0 4px 0 rgba(117,117,117,0.5);
    border-radius: 2px;
    padding: 20px 21px;
    .clearfix{
      &:after{
        content: '';
        display: block;
        clear: both;
      }
    }
    li{
      list-style: none;
    }
    ul{
      padding: 0;
      margin: 0;
    }
    .filter-tabar{
      border-bottom: 1px solid #d7d7d7;
      cursor: pointer;
      li{
        text-align: center;
        padding: 0 14px;
        float: left;
        padding-bottom: 14px;
        font-size: 14px;
        margin: 0 8px;
        margin-bottom: -1px;
        position: relative;
        &.active{
          border-bottom: 1px solid #ff7362;
        }
      }
    }
    .city-content{
      max-height: 500px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 10px 13px 0 13px;
      label{
        display: block;
        margin-bottom: 5px !important;
        font-size: 20px !important;
        margin-left: 0 !important;
        color: #5f5f5f !important;
        margin-top: 5px;
      }
      li{
        padding: 6px 0 6px;
        float: left;
        text-align: left;
        font-size: 14px;
        min-width: 56px;
        margin-right: 24px;
        cursor: pointer;
      }
    }
  }
}