.city{
  position:relative;
  .city-components{
    position: absolute;
    width: 500px;
    box-shadow: 0 0 4px 0 rgba(117,117,117,0.5);
    border-radius: 2px;
    padding: 20px 21px;
    .clearfix{
      &:after{
        content: '';
        display: block;
        clear: both;
      }
    }
    li{
      list-style: none;
    }
    ul{
      padding: 0;
      margin: 0;
    }
    .filter-tabar{
      border-bottom: 1px solid #d7d7d7;
      cursor: pointer;
      li{
        text-align: center;
        padding: 0 14px;
        float: left;
        padding-bottom: 14px;
        font-size: 14px;
        margin: 0 8px;
        margin-bottom: -1px;
        position: relative;
        &.active{
          border-bottom: 1px solid #ff7362;
        }
      }
    }
    .city-content{
      max-height: 500px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 10px 13px 0 13px;
      label{
        display: block;
        margin-bottom: 5px !important;
        font-size: 20px !important;
        margin-left: 0 !important;
        color: #5f5f5f !important;
        margin-top: 5px;
      }
      li{
        padding: 6px 0 6px;
        float: left;
        text-align: left;
        font-size: 14px;
        min-width: 56px;
        margin-right: 24px;
        cursor: pointer;
      }
    }
  }
}